:host {
    .bg-content {
        --background: linear-gradient(to bottom, #fdfeff 0%, #46a3dc 100%);
      }
      .logo-area {
          padding: 50px 30px;
          text-align: center;
      }
      .btn-box {
        padding: 0 30px;
      display: -webkit-box;
      display: flex;
      flex-direction: row;
      height: 60vh;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 99;
    }
     .top-btn {
         height: 110px;
     }
      --ion-color-light2: #3c69b4;
      .front-btn {
        background: transparent;
        color: #fff;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 20px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        border-radius: 6px;
        height: auto;
        width: auto;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }
    
        .m-rght {
            margin-inline-end: 10px  !important;
        }
        ion-item {
            border-radius: 10px;
            margin-bottom: 20px;
            -moz-box-shadow: 1px 1px 7px #000000;
        -webkit-box-shadow: 1px 1px 7px #000000;
        box-shadow: 1px 1px 7px #000000;
        }
        .text-center {
            text-align: center;
        }
        ion-label {
            color: #e0dcd9;
        }
        ion-icon {
            color: #e0dcd9;
        }
        ion-input {
            border-bottom: 1px dotted #e0dcd9;
        }
        ion-tab-bar{
            height: 110px;
            --background: linear-gradient(to bottom, #57a8dd 0%, #46a3dc 100%);
        }
        .label-color {
            color: #000000;
            padding: 5px 0 0;
            font-size: 14px;
        }
        .center-content {
            max-width: 290px;
            margin: 0 auto;
        }
        .center-content h2 {
            margin-bottom: 15px;
            font-size: 30px;
            color: #000000;
            text-transform: capitalize;
            text-align: center;
        }
        .center-content ion-buttons {
            margin-bottom: 10px;
        }
        
}