<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-btn">
      <img src="assets/img/images/logo-arihant-small.png">
    </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <div class="btn-box">
   
    <div class="center-content">
      <h2>Adding Device ...</h2>
      <ion-buttons>
        <ion-button (click)="addingDevice()" color="light2" class="front-btn" ></ion-button><img src="assets/img/images/smart-light.png"></ion-button>
        <ion-button (click)="addingDevice()" color="light2" class="front-btn" ></ion-button><img src="assets/img/images/smart-light.png"></ion-button>
        <ion-button (click)="addingDevice()" color="light2" class="front-btn" ></ion-button><img src="assets/img/images/smart-light.png"></ion-button>
      </ion-buttons>
     
     
     
  </div>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" >
        <img src="assets/img/images/home.png">
        <ion-label class="label-color">Schedule</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        </ion-tab-button>
      
  
      <ion-tab-button tab="about">
        <img src="assets/img/images/user.png">
        <ion-label class="label-color">About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
