

<ion-content class="bg-content">
  <div class="btn-box">
   
    <div class="center-content">
      <ion-buttons>
        Switch 1
        <a (click)="switches()" color="light2" class="front-btn" ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="addingDevice()" color="light2" class="front-btn" ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
     
      <ion-item lines="none">
        <ion-range value="20" color="primary">
          <ion-icon slot="start" size="small" name="remove-outline"></ion-icon>
          <ion-icon slot="end"  name="add-outline"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-grid>
        <ion-row>
          
          
          <ion-col size="12">
            <div class="color-picker">
            <div class="colorpick" id="picker">
              <br>
              <div>
                <ion-text>
                  {{colorcode}}
                </ion-text>
              </div>

            </div>
            </div>
          </ion-col>
        </ion-row>
        </ion-grid>
     
      
     
  </div>
  </div>
</ion-content>
