

<ion-content class="bg-content">
  <div class="btn-box">
   
    <div class="center-content">
      <ion-buttons>
        Switch 1
        <a (click)="switcheson()" color="light2" class="front-btn" [hidden]=ishidden ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff()" color="light2" class="front-btn" [hidden]=ishiddenof  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 2
        <a (click)="switcheson2()" color="light2" class="front-btn" [hidden]=ishidden2 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff2()" color="light2" class="front-btn" [hidden]=ishiddenof2  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 3
        <a (click)="switcheson3()" color="light2" class="front-btn" [hidden]=ishidden3 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff3()" color="light2" class="front-btn" [hidden]=ishiddenof3  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch all
        <a (click)="switcheson4()" color="light2" class="front-btn" [hidden]=ishidden4 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff4()" color="light2" class="front-btn" [hidden]=ishiddenof4  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
     
      <ion-item lines="none">
        <ion-range min="0" max="5" step="1" value="0" pin snaps color="primary">
          <ion-icon slot="start" size="small" name="remove-outline"></ion-icon>
          <ion-icon slot="end"  name="add-outline"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-grid>
        <ion-row>
          
          
          <ion-col size="12">
            <div class="color-picker">
            <div class="colorpick" id="picker">
            </div>
            <div id="values"></div>
            </div>
          </ion-col>
        </ion-row>
        </ion-grid>
     
      
     
  </div>
  </div>
</ion-content>
