<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <div class="header-inner">
    <h2>Services</h2>
    <h3>We Are Specialized in the<br>Following Services</h3>
  </div>
  <div class="inner-content">

 
    <div class="inner-card">
      <ion-row>
        <ion-col Size="4">
          <img src="assets/img/images/icon1.png" alt="Ionic logo">
        </ion-col>
        <ion-col Size="8">

    <h3>Goods & Services Tax Consultancy</h3>
  </ion-col>
  <ion-col Size="12">
    <p>In now a day, GST Laws have replaced many indirect tax laws, which reduced compliance’s huge burden for traders. But at the same time frequent changes in this new law made it difficult for traders to implement it. Traders in-house resource has to spend extra time in learning about constant changes to avoid non-compliances and fines.<br><br>


      To make GST compliances handy, our platform offers you second opinion in support of consultancy received earlier, so that you can focus on your core business.</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="inner-card">
      <ion-row>
        <ion-col Size="4">
          <img src="assets/img/images/icon3.png" alt="Ionic logo">
        </ion-col>
        <ion-col Size="8">
    <h3>Customs Law</h3>
  </ion-col>
  <ion-col Size="12">
    <p>Customs Query are flooding over internet and for each query there are multiple experts – many of them, however are not even qualified practitioners. At Pocket Law, we have dedicated qualified experts to answer your Customs complex issues.<br><br>


      Custom law very much relevant now a day for importer as well as exporter, for start a business required very much technical opinion so that no room for any type error, which may be spoil business</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="inner-card">
      <ion-row>
        <ion-col Size="4">
          <img src="assets/img/images/income.png" alt="Ionic logo">
        </ion-col>
        <ion-col Size="8">
    <h3>Income Tax Laws</h3>
  </ion-col>
  <ion-col Size="12">
    <p>In recent scenario, Income tax Laws cover a big chunk of the Country, which may or may not be aware of the stringent income tax laws. At our platform they can reaffirm their opinion by asking queries from our experts’ team.<br><br>


      Therefore, subscribe to us without any second thought and be informed.</p>
        </ion-col>
      </ion-row>
    </div>
    <div class="inner-card">
      <ion-row>
        <ion-col Size="4">
          <img src="assets/img/images/company.png" alt="Ionic logo">
        </ion-col>
        <ion-col Size="8">
    <h3>Company Law</h3>
  </ion-col>
  <ion-col Size="12">
    <p>Company Law compliances demand professional opinion, without which fine, penal or prosecutions provisions attract. Therefore, our platform provides professional opinion to support you and your opinion in regards of Company Law.</p>
        </ion-col>
      </ion-row>
    </div>

    </div>
    <div class="header-inner">
      <h3>YOUR RELIABLE CONSULTANCY FOR EXPERT AND WINNING SECOND OPINION ON LAWS AND CASES RELATED TO GOODS AND SERVICES TAX, INCOME TAX AND CUSTOMS</h3>
      <p>We understand that few people fall on the wrong side of compliance pertaining to income tax, good & services tax and customs laws and most of the time there are ways to help them become compliant by following due diligence. However, all common individuals and even businesses are not always equipped with expert advisors. This is why, at Pocket Law, we have tailored services for each vertical so that everyone can have access to best advisors to help them out with income tax, good & services tax and customs laws related issues.</p>
      <ion-button shape="round" (click)="checklogin_for_package()" class="query-btn">Ask Your Query</ion-button>
    </div>

</ion-content>
