<ion-content class="bg-content">
  <div class="logo-area">
    <img src="assets/img/images/logo-arihant.png" class="logo-margin" />
    <h1>Smart Solution</h1>
  </div>
  <div class="btn-box">
    <div class="input-box">
      <ion-row text-center>
        <ion-col>
          <ion-input
            type="tel"
            #otp1
            required
            maxLength="1"
            (keyup)="otpController($event,otp2,'')"
          >
          </ion-input>
          <ion-input
            type="tel"
            #otp2
            required
            maxLength="1"
            (keyup)="otpController($event,otp3,otp1)"
          >
          </ion-input>
          <ion-input
            type="tel"
            #otp3
            required
            maxLength="1"
            (keyup)="otpController($event,otp4,otp2)"
          >
          </ion-input>
          <ion-input
            type="tel"
            #otp4
            required
            maxLength="1"
            (keyup)="otpController($event,otp5,otp3)"
          >
          </ion-input>
          <ion-input
            type="tel"
            #otp5
            required
            maxLength="1"
            (keyup)="otpController($event,otp6,otp4)"
          >
          </ion-input>
          <ion-input
            type="tel"
            #otp6
            required
            maxLength="1"
            (keyup)="otpController($event,'',otp5)"
          >
          </ion-input>
        </ion-col>
      </ion-row>
    </div>
    <div class="text-center">
      <ion-button (click)="googleLogin()" color="light2" class="front-btn"
        >OK</ion-button
      >
    </div>
  </div>
</ion-content>
