:host {
    ion-toolbar {
        --background:#303030;
      }
      ion-title {
        color: #b99044;
        text-transform: uppercase;
      }
      .sc-ion-buttons-md-s .button {
        --background-hover: currentColor;
        color: #ffffff;
    }
   
      .bg-content {
        --background: #ffffff; 
      }
      .header-inner {
        text-align: left;
        padding: 20px 20px;
        margin: 0;
      }
      .header-inner h2 {
        color: #b99044;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .header-inner h3 {
        color: #303030;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .header-inner h4 {
        color: #303030;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 0;
      }
      .header-inner h4 span {
        color: #b99044;
      }
      .header-inner p {
        color: #303030;
        font-size: 12px;
        font-weight: 400;
      }

      .header-services {
        text-align: center;
        padding: 20px 20px;
        margin: 0;
      }
      .header-services h2 {
        color: #b99044;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .header-services h3 {
        color: #303030;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .header-services h4 {
        color: #303030;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 0;
      }
      .header-services h4 span {
        color: #b99044;
      }
      .header-services p {
        color: #303030;
        font-size: 12px;
        font-weight: 400;
      }

      .header-team {
        text-align: center;
        padding: 20px 20px;
        margin: 0;
      }
      .header-team h2 {
        color: #b99044;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .header-team h3 {
        color: #303030;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      .header-team h4 {
        color: #303030;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 0;
      }
      .header-team h4 span {
        color: #b99044;
      }
      .header-team p {
        color: #303030;
        font-size: 12px;
        font-weight: 400;
      }

      .inner-content {
        padding: 0 20px;
    }
    .query-btn {
      --background:#0166b3;
    }
    .query-btn:hover {
      --background:#ffffff;
      color: #b99044;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
    .inner-card {
        background-color: #303030;
        padding:30px;
        margin: 20px;
        text-align: left;
        box-shadow: 0 0 20px rgba(0,0,0,.08);
    }
    .inner-card h2 {
        font-size: 16px;
        font-weight: 500;
        color:#b99044;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .inner-card h3 {
        font-size: 14px;
        font-weight: 400;
        color:#ffffff;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .inner-card p {
        font-size: 12px;
        font-weight: 300;
        color:#ffffff;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .inner-card ul {
        margin: 0 0 10px 0;
        padding: 0 0 0 20px;
    }
    .inner-card ul li {
        font-size: 12px;
        font-weight: 300;
        color:#b99044;
        padding: 0 0 5px 0;
    }
    .history-bg {
        background: url(../../../assets/img/images/bg.jpg) no-repeat 100% 100%;
        background-size: cover;
    }
    .history {
        padding: 10px 20px;
        margin: 0;
      }
      .inner-frame {
        background: url(../../../assets/img/images/frame1.png) no-repeat 100% 100%; 
        background-size: cover;
        padding: 20px 0;
        text-align: center;
      }
      .inner-frame h2 {
          font-size: 14px;
          color: #303030;
          font-weight: 500;
          margin-top: 15px;
          margin-bottom: 10px;
      }
      .inner-frame h3 {
        font-size: 12px;
        color: #303030;
        font-weight: 500;
        margin-top: 0;
          margin-bottom: 10px;
    }
    .frame-cont {
        padding: 10px;
    }
    .frame-cont h2 {
        font-size: 14px;
        color: #303030;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .frame-cont p {
        font-size: 12px;
        color: #303030;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .inner-card-new {
        box-shadow: 0 0 20px rgba(0,0,0,.08);
        padding: 20px;
        margin: 10px;
      }
      
      .inner-card-new h3 {
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 5px;
          margin-top: 0;
      }
      .inner-card-new p {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
        margin-top: 0;
      }
      .inner-card-new a {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 5px;
        margin-top: 0;
        color: #b99044;
        text-decoration: none;
      }
      
      .mb-10 {
        margin-bottom: 10px;
    }
    ion-card-title {
      font-size: 15px;
      color: #b99044;
    }
    ion-card-subtitle {
      font-size: 14px;
    }
   .query-block {
     margin: 0;
     padding: 10px 0;
   }
   .query-block img {
     width: 100%;
     height: auto;
   }
   .query-block h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
   }
   .query-block p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
   }
   .bg-light-yellow {
     background-color: #fffbf2;
   }
   .wrkngprcss {
    width: 230px;
    padding: 40px 15px;
    border: 1px solid #000000;
    margin: 0 auto;
    border-radius: 100px;
   }
   .wrkngprcss h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
   }
   .single-working {
    padding: 15px 15px;
    margin: auto;
    max-width: 180px;
   }
   .testinomials {
     margin: 0;
     padding: 0 0 10px 0;
   }
   .testinomials p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
   }
   .testinomials h3 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
   }
   .testinomials h3 span {
    font-size: 10px;
    font-weight: 400;
   }
   


    }