<ion-app [class.dark-theme]="dark">
	<ion-split-pane contentId="main-content">
		
		<ion-menu contentId="main-content">
			<ion-content>
				<ion-list lines="none">
					<ion-list-header >
						Menu
					</ion-list-header>
					
				</ion-list>
				
				<ion-list *ngIf="utype !=''" lines="none">
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/homepage" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start" name="home-outline"></ion-icon>
							<ion-label>
								Home
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/about" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start" name="information-circle-outline"></ion-icon>
							<ion-label>
								About Us
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/our-services" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start" name="construct-outline"></ion-icon>
							<ion-label>
								Our Services
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/package" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start"  name="card-outline"></ion-icon>
							<ion-label>
								Package
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/dashboard" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start"  name="log-in"></ion-icon>
							<ion-label>
								Dashboard
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/tickets" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start"  name="log-in"></ion-icon>
							<ion-label>
								Ticket
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item button (click)="logout()" detail="false">
							<ion-icon slot="start" c name="log-out"></ion-icon>
							<ion-label>
								Logout
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
				</ion-list>
				
				<ion-list *ngIf="utype == ''" lines="none">
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/homepage" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start" name="home-outline"></ion-icon>
							<ion-label>
								Home
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/about" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start" name="information-circle-outline"></ion-icon>
							<ion-label>
								About Us
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/our-services" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start"  name="construct-outline"></ion-icon>
							<ion-label>
								Our Services
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/package" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start"  name="card-outline"></ion-icon>
							<ion-label>
								Package
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-menu-toggle autoHide="false">
						<ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
							<ion-icon slot="start"  name="log-in"></ion-icon>
							<ion-label>
								Login
							</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
				</ion-list>
				
				
			</ion-content>
		</ion-menu>
		
		<ion-router-outlet id="main-content"></ion-router-outlet>
		
	</ion-split-pane>
	
</ion-app>
