<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-content">
  <div class="header-inner">
    <h2>Meet My Team</h2>
    <p>Pocket Law is the best Law Firm. We solve your problems tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
  </div>
  <div class="inner-content">
    <ion-card class="mb-10">
      <img src="assets/img/images/img-law.jpg" />
      <ion-card-header>
        <ion-card-title>James Franklin</ion-card-title>
        <ion-card-subtitle>Business Lawyer</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Lawyer boluptatum deleniti atque res et quas molestias cepturi sint  eca ate non provident, similique sunt in ulpa modi tempora incidunt ut labore
      </ion-card-content>
    </ion-card>
    <ion-card class="mb-10">
      <img src="assets/img/images/img-law.jpg" />
      <ion-card-header>
        <ion-card-title>Rebeca Luice</ion-card-title>
        <ion-card-subtitle>Corporate Lawyer</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.Lawyer boluptatum deleniti atque res et quas molestias cepturi sint  eca ate non provident, similique sunt in ulpa modi tempora incidunt ut labore
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
