

<ion-content class="bg-content">
  <div class="logo-area">
    <img src="assets/img/images/logo-arihant.png" class="logo-margin">
    <h1>Smart Solution</h1>
  </div>
  <div class="btn-box">
    <ion-item lines="none">
      <ion-icon name="person" class="m-rght" slot="start"></ion-icon>
      <ion-label>Email:</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <div class="text-center">
    <ion-button (click)="otp()" color="light2" class="front-btn" >Get OTP</ion-button>
    
  </div>
  
  </div>

</ion-content>
