<ion-content class="bg-content">
  <div class="logo-area">
    <img src="assets/img/images/logo-arihant.png" class="logo-margin" />
    <h1>Smart Solution</h1>
  </div>
  <div class="btn-box">
    <ion-button (click)="login()" color="light2" class="front-btn" expand="block">Log In</ion-button>
    <ion-button (click)="login()" color="light2" class="front-btn" expand="block">Sign Up</ion-button>
    <!--<ion-button (click)="onSignup()" color="light2" class="front-btn" expand="block">Try it Now</ion-button>-->
  </div>
</ion-content>
