:host {
    ion-toolbar {
        --background:#303030;
      }
      ion-title {
        color: #b99044;
      }
      .sc-ion-buttons-md-s .button {
        --background-hover: currentColor;
        color: #ffffff;
    }
   
    .bg-content {
      --background: #ffffff; 
    }
    .header-inner {
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .header-inner h2 {
        color: #b99044;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .header-inner p {
        color: #303030;
        font-size: 12px;
        font-weight: 400;
      }
      .inner-page {
        margin: 0 20px;
        padding: 0;
    }
    .bg-yellow {
        background-color: #b99044;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .mt-30 {
        margin-top: 30px;
    }
    .content-bg {
        background-color: #303030;
        margin: 20px;
        padding: 20px;
        box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
        width: 90%;
        min-height: 330px;
      }
    --ion-color-secondary: #b99044;
    --ion-color-light: #303030;
    --ion-color-light2: #b99044;
    .label-stacked.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h {
        color: #ffffff;
      }
      .native-input.sc-ion-input-md {
        color: #ffffff;
      }
      ion-input {
        color: #ffffff; 
      }
      ion-textarea {
        color: #ffffff; 
      }
      .sent-btn {
        border: 1px solid #b99044;
        height: 45px;
        background: #b99044;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid #b99044;
        transition: 0.3s ease-in-out;
      }
      .sent-btn:hover {
        background: #ffffff;
        color: #b99044;
      }
      .register-btn {
        border: 1px solid #b99044;
        height: 45px;
        background: #ffffff;
        color: #b99044;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid #b99044;
        transition: 0.3s ease-in-out;
      }
      .register-btn:hover { 
        background: #b99044;
        color: #ffffff;
      }
     .btn-box {
        padding: 20px 0;
    }
    .mt-15 {
      margin-top: 15px;
    }
    .btn-create {
      height: 48px;
      color: #ffffff;
      margin-bottom: 30px;
      background-color: #b99044;
    }
}