

<ion-content class="bg-content">
  <div class="btn-box">
   
    <div class="center-content">
      <ion-buttons>
        Switch 1
        <a (click)="singleswitch()" color="light2" class="front-btn" ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 2
        <a (click)="switcheson()" color="light2" class="front-btn" [hidden]=ishidden ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff()" color="light2" class="front-btn" [hidden]=ishiddenof  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 3
        <a (click)="switcheson()" color="light2" class="front-btn" [hidden]=ishidden ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff()" color="light2" class="front-btn" [hidden]=ishiddenof  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 4
        <a (click)="switcheson()" color="light2" class="front-btn" [hidden]=ishidden ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff()" color="light2" class="front-btn" [hidden]=ishiddenof  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch all
        <a (click)="switcheson()" color="light2" class="front-btn" [hidden]=ishidden ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff()" color="light2" class="front-btn" [hidden]=ishiddenof  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
   
  </div>
  </div>
</ion-content>
