

<ion-content class="bg-content">
  <div class="btn-box">
   
    <div class="center-content">
      <ion-buttons>
        Switch 1
        <a (click)="singleswitch()" color="light2" class="front-btn" ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 2
        <a (click)="switcheson2()" color="light2" class="front-btn" [hidden]=ishidden2 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff2()" color="light2" class="front-btn" [hidden]=ishiddenof2  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 3
        <a (click)="switcheson3()" color="light2" class="front-btn" [hidden]=ishidden3 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff3()" color="light2" class="front-btn" [hidden]=ishiddenof3  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch 4
        <a (click)="switcheson4()" color="light2" class="front-btn" [hidden]=ishidden4 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff4()" color="light2" class="front-btn" [hidden]=ishiddenof4  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
      <ion-buttons>
        Switch all
        <a (click)="switcheson5()" color="light2" class="front-btn" [hidden]=ishidden5 ><img src="assets/img/images/on-icon.png"></a>
        <a (click)="switchesoff5()" color="light2" class="front-btn" [hidden]=ishiddenof5  ><img src="assets/img/images/off-icon.png"></a>
       
      </ion-buttons>
   
  </div>
  </div>
</ion-content>
